div {
    font-family: "IBM Plex Mono", "Courier New", monospace;
    text-align: center;
}

a {
    text-decoration: none;
}

.yellow {
    color: #eead0c;
}

.orange {
	color: #ff6f61;
}

.linkedin-blue {
    color: #0072b1;
}